<div class="post-block post-tips-list-block" *ngIf="info.trans.length">
  <div class="post-list-inner">
    <div class="post-tip-row" >
      <div class="row-label"><i class="trav-about-icon"></i><b>Nationality</b></div>
      <div class="row-txt">
        <span>{{isCountry ? info.trans[0]?.nationality : info.country.trans[0]?.nationality}}</span>
      </div>
    </div>
    <div class="post-tip-row" *ngIf="info?.languages.length">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Languages spoken</b></div>
      <div class="row-txt">
        <!--<span>{{ isCountry ? info.languages[0].trans.title : info.languages[0].title }}</span>-->
        <span>{{ info.languages[0]?.title }}</span>
        <a *ngIf="info?.languages.length - 1" (click)="showPopup()" class="more-link">
          +{{info?.languages.length - 1}} More
        </a>
      </div>
    </div>
    <div class="post-tip-row">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Currencies</b></div>
      <div class="row-txt">
        <span>{{info.currencies[0].trans[0]?.title }}</span>
        <a *ngIf="info?.currencies.length - 1" (click)="showPopup()" class="more-link">
          +{{info.currencies.length - 1}} More
        </a>
        <!--
                <span class="currency">(1 USD = 9.23 MAD)</span>
        -->
      </div>
    </div>
    <div class="post-tip-row" *ngIf="info?.religions.length - 1">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Timings</b></div>
      <div class="row-txt">
        <span>{{info.timezone.time_zone_name}}</span>
<!--
        <a href="#" class="more-link">+3 More</a>
-->
      </div>
    </div>
    <div class="post-tip-row" *ngIf="info?.religions.length">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Religions</b></div>
      <div class="row-txt">
        <span>{{info.religions[0].trans[0]?.title }}</span>
        <a *ngIf="info?.religions.length - 1" (click)="showPopup()" class="more-link">
          +{{info.religions.length - 1}} More
        </a>

      </div>
    </div>
    <div class="post-tip-row">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Phone Code</b></div>
      <div class="row-txt">
        <span>{{info?.code}}</span>
      </div>
    </div>
    <div class="post-tip-row" *ngIf="info.trans[0]?.metrics || (info?.country && info.country.trans[0]?.metrics)">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Units of measurement</b></div>
      <div class="row-txt">
        <span >{{(isCountry ? info.trans[0]?.metrics : info.country.trans[0]?.metrics ) | match:'\\((.*?)\\)': 1}}</span>
      </div>
    </div>
    <div class="post-tip-row">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Working days</b></div>
      <div class="row-txt">
        <span>{{info.trans[0]?.working_days}}</span>
      </div>
    </div>
    <div class="post-tip-row">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Transportation Methods</b></div>
      <div class="row-txt" *ngIf="info.trans[0]?.transportation">
        <span>{{info.trans[0]?.transportation.split(',')[0]}}</span>
        <a *ngIf="info.trans[0]?.transportation.split(',').length - 1" (click)="showPopup()" class="more-link">
          +{{info.trans[0]?.transportation.split(',').length - 1}} More
        </a>
      </div>
    </div>
    <div class="post-tip-row">
      <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Speed Limit</b></div>
      <div class="row-txt" *ngIf="info.trans[0].speed_limit">
        <span>{{info.trans[0]?.speed_limit.split('\r\n\r\n')[0]}}</span>
        <a *ngIf="info.trans[0]?.speed_limit.split('\r\n\r\n').length - 1" (click)="showPopup()" class="more-link">
          +{{info.trans[0]?.speed_limit.split('\r\n\r\n').length - 1}} More
        </a>

      </div>
    </div>
  </div>
</div>
