<div class="left-outside-menu-wrap" id="leftOutsideMenu">
  <ul class="left-outside-menu">
    <li class="active"><a href="#">
      <i class="trav-about-icon"></i>
      <span>About</span>
    </a></li>
    <li><a href="#">
      <i class="trav-review-icon"></i>
      <span>Reviews</span>
    </a></li>
    <li><a href="#">
      <i class="trav-photos-icon"></i>
      <span>Photos</span>
    </a></li>
    <li><a href="#">
      <i class="trav-QA-icon"></i>
      <span>Q&A</span>
    </a></li>
    <li><a href="#">
      <i class="trav-today-icon"></i>
      <span>Today</span>
    </a></li>
  </ul>
</div>
