<div class="forget-wrapper">
  <a href="#" class="main-logo">
    <img src="./assets/image/large-logo.png" alt="logo">
  </a>

  <div class="forget-main-block" *ngIf="(resetPasswordStatus$ | async) === ''">
    <div class="forget-content"
         [ngClass]="{ 'error-event': formErrors.password || formErrors.password_confirmation || (errorFromServer$ | async)}">
      <div class="error-alert" *ngIf="formErrors.password || formErrors.password_confirmation">
        {{ formErrors.password }} {{formErrors.password_confirmation}}
      </div>
      <div class="error-alert" *ngIf="(errorFromServer$ | async)">
        {{(errorFromServer$ | async).message[0]}}
      </div>
      <h3 class="ttl">New Password</h3>
      <p>Enter a new password for your account</p>
      <form class="insert-form" [formGroup]="userForm">
        <div class="field-row">
          <div class="input-wrap">
            <input placeholder="New password" type="password" formControlName="password">
          </div>
        </div>
        <div class="field-row">
          <div class="input-wrap">
            <input type="password" formControlName="password_confirmation" placeholder="Confirm password">
          </div>
        </div>
      </form>
    </div>
    <div class="forget-foot">
      <button class="btn btn-light-primary btn-bordered" type="submit"
              (click)="validation.onValueChange(userForm, formErrors, true);userForm.valid && reset()">Reset Password
      </button>
    </div>
  </div>

  <div class="forget-main-block" *ngIf="(resetPasswordStatus$ | async) === 'success'">
    <div class="forget-content">
      <h3 class="ttl green">Success!</h3>
      <p>You are ready to login to your account using the new password</p>
    </div>
    <div class="forget-foot">
      <a href="#" class="sign-in-link" routerLink="/login">Sign In Now</a>
    </div>
  </div>

</div>
<app-footer></app-footer>

