<div class="modal-dialog sign-up-style" role="document">
  <div class="modal-content">
    <button type="button" class="close"  aria-label="Close" mat-button  [mat-dialog-close]="true" routerLink="signup">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body body-create">
      <div class="top-layer">
        <a href="#" class="logo-wrap">
          <img src="./assets/image/main-logo.png" alt="">
        </a>
        <h4 class="title">Create a free account</h4>
        <p *ngIf="formErrors.name" class="sub-ttl error-message">{{ formErrors.name }}</p>
        <p *ngIf="formErrors.age" class="sub-ttl error-message">{{ formErrors.age }}</p>
        <p *ngIf="formErrors.gender" class="sub-ttl error-message">{{ formErrors.gender }}</p>
        <div *ngIf="(authError$ | async)">
          <p  *ngFor="let err of  (authError$ | async).data" class="sub-ttl error-message">{{ err }}</p>
        </div>
      </div>
      <form class="login-form" name="signupForm2" [formGroup]="userForm" (ngSubmit)="userForm.valid && register()" >
        <div class="step-2">
          <div class="form-group" *ngIf="(user$ | async)" >
            <p class="email-field">{{(user$ | async).email}}</p>
          </div>
          <div class="form-group flex-custom">
            <div class="flex-input"  [ngClass]="{ 'has-danger': formErrors.name }">
              <input class="form-control" type="text" name="name" formControlName="name" placeholder="Full Name" aria-describedby="full name" />
            </div>
            <div class="form-group"  [ngClass]="{ 'has-danger': formErrors.age }">
              <select class="custom-select form-control" id="age" formControlName="age" [ngStyle]="{'height':'52px'}">
                <option [selected]="true" [value]="false"  disabled>Age</option>
                <option *ngFor="let a of ageArray" [value]="a">{{a}}</option>
              </select>
            </div>
          </div>
          <div class="form-check flex-custom" >
            <div class="custom-check-label">
              <input type="radio" class="custom-check-input" name="gender" id="male" formControlName="gender"  value="0">
              <label for="male">Male</label>
            </div>
            <div class="custom-check-label">
              <input type="radio" class="custom-check-input" name="gender" id="female" formControlName="gender"  value="1">
              <label for="female">Female</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" (click)="validation.onValueChange(userForm, formErrors, true)" class="btn btn-info">Sign Up</button>
          </div>
          <div class="form-group">
            <button type="button"  routerLink="signup" class="btn btn-transp">
              <i class="fa fa-angle-left"></i>
              <span>Back</span>
            </button>
          </div>
        </div>
        <div class="form-group bottom-txt-group">
          <p class="bottom-txt">Creating an account means you're okay with</p>
          <ul class="link-list">
            <li>
              <b>Travooo's</b>
            </li>
            <li>
              <a href="#"> Terms of Service,</a>
            </li>
            <li>
              <a href="#"> Privacy Policy</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p class="foot-txt">Already a member?</p>
      <button type="button"  routerLink="login" class="btn btn-grey">Log In</button>
    </div>
  </div>
</div>
