<div class="modal-body">
  <div class="search-block-wrap">
    <div class="search-block">
      <a class="search-btn"><i class="fa fa-search"></i></a>
      <input type="text" (change)="queryChange()" [(ngModel)]="query" placeholder="Item or city...">
    </div>
  </div>
  <div class="check-block-wrap" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1" [topOffset]="0">
    <div class="check-block" [ngClass]="{'checked-block': item.selected}"
         [ngStyle]="{'background-image': item.cover_image || 'url(http://placehold.it/181x181)'}"
         (click)="selectItem(item)"
         *ngFor="let item of choosenItems">
      <div class="check-ttl">
        <h4>{{item.name}}</h4>
        <p>{{item.id}}</p>
      </div>
    </div>
    <div class="check-block" [ngClass]="{'checked-block': item.selected}"
         [ngStyle]="{'background-image': item.cover_image || 'url(http://placehold.it/181x181)'}"
         (click)="selectItem(item)"
         *ngFor="let item of items">
      <div class="check-ttl">
        <h4>{{item.name}}</h4>
        <p>{{item.id}}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" disabled *ngIf="(settings.itemToChoose > choosenItems.length)" class="btn btn-grey">Select {{settings.itemToChoose - choosenItems.length}} More</button>
  <button type="button" (click)="register()" *ngIf="(settings.itemToChoose <= choosenItems.length)"class="btn btn-primary">Continue</button>
  <p class="sub-info">(Next Step: Favorite Places)</p>
</div>
