:host {

  .modal-body .selectedCount {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .modal-body .check-block-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .check-block-wrap.checkedItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px -10px;
    max-height: 400px;
    overflow-y: auto;


    .check-block {

    }
  }
}

@media (max-width: 1024px) {

  :host {
    .check-block-wrap.checkedItems {
      max-height: 200px;

      .check-block {
        width:40%;
        height: 50px;

        &::before {
          bottom: 0px;
          font-size: 23px;
        }

        .check-ttl {
          > h4 {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

}
