@media (max-width: 767px) {

  :host {
    .top-profile-layer {
      .top-profile-picture {
        .update-picture-link {
          z-index: 50;
        }
      }
      .top-profile-info {
        .profile-name-block {
          .name-ttl .tag {
            position: static;
            vertical-align: middle;
          }
        }
      }
      .top-details-wrap {
        flex-wrap: wrap;

        .social-list {
          width: 100%;
          justify-content: center;
          margin: 10px 0;
        }
        .detail-list {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

//:host {
//
//  .top-profile-layer {
//
//    .top-details-wrap {
//
//      .detail-list {
//
//        .detail-block {
//
//          &::after {
//            content: '';
//            display: block;
//            width: 0;
//            height: 2px;
//            background: #4080ff;
//            transition: width .3s;
//          }
//        }
//
//        .detail-block.current {
//          border: none;
//          &::after {
//            width: 100%;
//          }
//
//        }
//
//      }
//    }
//  }
//}
