<div class="forget-wrapper">
  <a href="#" class="main-logo">
    <img src="./assets/image/large-logo.png" alt="logo">
  </a>

  <div class="forget-main-block" *ngIf="(resetPasswordStatus$ | async) === 'emailSent'">
    <div class="forget-content">
      <h3 class="ttl">Email sent!</h3>
      <p>We sent a message to <a href="mailto:test@gmail.com">{{userForm.get('email').value}}</a> so you can pick your new password.</p>
      <p>Didn't get the email? <a href="#" class="try-link">Try these tips from our Help Center</a></p>
      <p>Not your email address? <a href="#" class="try-link">Try again</a></p>
    </div>
    <div class="forget-foot">
      <a href="#" class="sign-in-link" routerLink="/login">Back to Sign In</a>
    </div>
  </div>

  <div class="forget-main-block" *ngIf="(errorFromServer$ | async) || (resetPasswordStatus$ | async)===''">
    <div class="forget-content " [ngClass]="{ 'error-event': formErrors.email || (errorFromServer$ | async) }">
      <div class="error-alert" *ngIf=" formErrors.email">
        {{ formErrors.email }}
      </div>
      <div class="error-alert" *ngIf="(errorFromServer$ | async)">
        No user was found with that email address.
      </div>
      <h3 class="ttl">Reset Password</h3>
      <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
      <form action="/" class="insert-form" [formGroup]="userForm" (ngSubmit)="userForm.valid && reset()">
        <div class="field-row">
          <div class="input-wrap">
            <input type="text" placeholder="Email Address" formControlName="email"  id="email">
          </div>
          <button class="btn btn-light-primary btn-bordered" (click)="validation.onValueChange(userForm, formErrors, true)">
            Send
          </button>
        </div>
      </form>
    </div>
    <div class="forget-foot">
      <a href="#" class="sign-in-link" routerLink="/login">Back to Sign In</a>
    </div>
  </div>

</div>
<app-footer></app-footer>

