<router-outlet></router-outlet>
<div class="main-wrapper" *ngIf="showComponent">
 <app-main-header></app-main-header>
  <div class="content-wrap">

    <app-mobile-menu-buttons></app-mobile-menu-buttons>

    <div class="container-fluid">
      <!-- left outside menu -->
      <app-left-outside-menu></app-left-outside-menu>

      <app-country-top-banner  [data]="data" ></app-country-top-banner>

      <div class="top-board-wrap">
        <app-gallery-box  [info]="countryMediaData"></app-gallery-box>
        <app-gallery-box  [info]="plansMediaData"></app-gallery-box>
        <app-gallery-box  [info]="placesMediaData"></app-gallery-box>
        <div class="post-block post-board">
          <div class="post-side-top">
            <h3 class="side-ttl">events</h3>
            <div class="side-right-control">
              <div class="side-count">241</div>
            </div>
          </div>
          <div class="post-side-inner">
            <div class="board-photo-list">
              <div class="board-image full-image">
                <img src="http://placehold.it/185x115" alt="photo">
              </div>
              <div class="board-image half-image">
                <img src="http://placehold.it/85x90" alt="photo">
              </div>
              <div class="board-image half-image">
                <img src="http://placehold.it/85x90" alt="photo">
              </div>
            </div>
          </div>
        </div>
        <div class="post-block post-board">
          <div class="post-side-top">
            <h3 class="side-ttl">Stories</h3>
            <div class="side-right-control">
              <div class="side-count">14</div>
            </div>
          </div>
          <div class="post-side-inner">
            <div class="board-photo-list">
              <div class="board-image full-image">
                <img src="http://placehold.it/185x115" alt="photo">
              </div>
              <div class="board-image half-image">
                <img src="http://placehold.it/85x90" alt="photo">
              </div>
              <div class="board-image half-image">
                <img src="http://placehold.it/85x90" alt="photo">
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-country-middle-banner  [data]="data"></app-country-middle-banner>

      <div class="custom-row">
        <!-- MAIN-CONTENT -->
        <div class="main-content-layer">
          <app-country-about-box [info]="data.info" [isCountry]="isCountry"></app-country-about-box>
          <app-country-about-box2  [info]="data.info" [isCountry]="isCountry"></app-country-about-box2>
          <app-country-indexes-box  [info]="data.info" [isCountry]="isCountry"></app-country-indexes-box>

          <app-country-emergency-number [info]="data.info.emergency"></app-country-emergency-number>

          <app-dcl-slider-wrapper *ngIf="showComponent && data?.places.length" [type]="placesList"
                                  [settings]="{
                                    width: 230,
                                    height: 300,
                                    count: data.places.length
                                  }">
          </app-dcl-slider-wrapper>
          <app-dcl-slider-wrapper  *ngIf="showComponent && data.info?.holidays.length" [type]="holidaysList"
                                  [settings]="{
                                    width: 274,
                                    height: 234,
                                    count: data.info.holidays.length
                                  }">
          </app-dcl-slider-wrapper>


          <div class="post-block post-country-block">
            <div class="post-side-top">
              <h3 class="side-ttl">Accessibility</h3>
            </div>
            <div class="post-country-inner post-full-inner">
              <div class="post-map-block">

                <div class="post-map-inner">
                  <!--<img src="http://placehold.it/595x360" alt="map">-->
                  <agm-map *ngIf="data.info?.lat && data.info?.lng"
                           [latitude]="+data.info.lat" [longitude]="+data.info.lng">
                  </agm-map>

                  <div class="post-top-map-tabs">

                    <div class="map-tab" data-tab="atmTxt" (click)="setCurrentTab(0)"
                         [ngClass]="{'current' : activeTab === 0 }">
                      <div class="tab-icon"><i class="trav-atms-icon"></i></div>
                      <div class="tab-txt">ATMs</div>
                    </div>

                    <div class="map-tab" data-tab="wifiTxt" (click)="setCurrentTab(1)"
                         [ngClass]="{'current' : activeTab === 1 }">
                      <div class="tab-icon"><i class="trav-internet-icon"></i></div>
                      <div class="tab-txt">Internet</div>
                    </div>

                    <div class="map-tab" data-tab="socketTxt" (click)="setCurrentTab(2)"
                         [ngClass]="{'current' : activeTab === 2 }">
                      <div class="tab-icon"><i class="trav-sockets-icon"></i></div>
                      <div class="tab-txt">Sockets</div>
                    </div>

                  </div>

                  <div class="post-map-area">
                    <div class="area-txt" id="atmTxt" *ngIf="activeTab === 0">
                      <h5 class="ttl">{{data?.atms_count || 'None'}}</h5>
                      <p>ATM machines</p>
                    </div>

                    <div class="area-txt" id="wifiTxt" *ngIf="activeTab === 1">
                      <p>{{data.info.trans[0].internet}}</p>
                    </div>

                    <div class="area-txt" id="socketsTxt" *ngIf="activeTab === 2">
                      <p>{{data.info.trans[0].sockets}}</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="post-block post-tab-block post-tip-tab">
            <div class="post-tab-inner post-tip-tab" id="postTabBlock">
              <div class="tab-item active-tab ">
                Packing Tips
              </div>
              <div class="tab-item">
                Daily Costs
              </div>
            </div>
          </div>


          <app-country-budget-box *ngIf="data.info.trans[0]?.other && showComponent"
                                  [data]="data.info.trans[0].other">
          </app-country-budget-box>

          <div class="post-block post-tips-list-block">
            <div class="post-top-layer">
              <div class="top-left">
                <ul class="foot-avatar-list">
                  <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
                </ul>&nbsp;
              </div>
              <div class="top-right">
                <div class="top-comment-icon">
                  <i class="trav-talk-icon"></i>
                </div>
              </div>
            </div>

            <div class="post-list-inner" *ngIf="data.info.trans[0]?.planning_tips">

                <div class="tips-container" *ngFor="let item of planningTips | keys">

                  <div class="post-tip-row tip-txt" *ngIf="checkDataType(planningTips)">
                    <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>{{item.key}}</b></div>
                    <div class="row-txt"><span>{{item.value}}</span></div>
                  </div>


                  <div class="post-tip-row tip-txt" *ngIf="!checkDataType(planningTips)">
                    <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>{{item.key}}</b></div>
                    <div class="row-txt">
                      <ul>
                        <li *ngFor="let value of item.value" >{{value}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="post-block post-tab-block post-tip-tab">
            <div class="post-tab-inner post-tip-tab" id="">
              <div class="tab-item active-tab">
                Etiquette and Restrictions
              </div>
            </div>
          </div>

          <div class="post-block post-tips-list-block">
            <div class="post-top-layer">
              <div class="top-left">
                <ul class="foot-avatar-list">
                  <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
                </ul>&nbsp;
              </div>
              <div class="top-right">
                <div class="top-comment-icon">
                  <i class="trav-talk-icon"></i>
                </div>
              </div>
            </div>

            <div class="post-list-inner" *ngIf="data.info.trans[0]?.etiquette && data.info.trans[0]?.restrictions">
              <div class="post-tip-row tip-txt" *ngFor="let item of etiquette | keys">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>{{item.key}}</b></div>
                <div class="row-txt"><span>{{item.value}}</span></div>
              </div>

              <div class="post-tip-row tip-txt" *ngFor="let item of restrictions | keys">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>{{item.key}}</b></div>
                <div class="row-txt"><span>{{item.value}}</span></div>
              </div>
            </div>
          </div>


          <div class="post-block post-tips-list-block"  *ngIf="data.info.trans[0]?.health_notes">
            <div class="post-top-layer">
              <div class="top-left">
                <h3 class="post-tip-ttl">Risk of Disease</h3>
              </div>
            </div>
            <div class="post-list-inner">

              <div class="post-tip-row tip-txt" *ngFor="let item of (healthNotes | keys) | slice:1">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>{{item.key}}</b></div>
                <div class="row-txt"><span>{{item.value}}</span></div>
              </div>
            </div>
          </div>

          <div class="post-block post-tab-block post-tip-tab">
            <div class="post-tab-inner post-tip-tab" id="postTabBlock">
              <div class="tab-item">
                Potential Dangers
              </div>
              <div class="tab-item active-tab">
                Indexes
              </div>
            </div>
          </div>

          <div class="post-block post-tips-list-block">
            <div class="post-top-layer">
              <div class="top-left">
                <ul class="foot-avatar-list">
                  <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
                </ul>&nbsp;
              </div>
              <div class="top-right">
                <div class="top-comment-icon">
                  <i class="trav-talk-icon"></i>
                </div>
              </div>
            </div>
            <div class="post-list-inner">
              <div class="post-tip-row">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Pollution</b></div>
                <div class="row-txt">
                  <div class="index-slider-wrap">
                    <div class="counter">
                      <span id="current1"></span>&nbsp;/&nbsp;<span id="total1"></span>
                    </div>
                    <div id="sliderPollution1" class="slider"></div>
                  </div>
                </div>
              </div>
              <div class="post-tip-row">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Cost of Living</b></div>
                <div class="row-txt">
                  <div class="index-slider-wrap">
                    <div class="counter">
                      <span id="currentCost1"></span>&nbsp;/&nbsp;<span id="totalCost1"></span>
                    </div>
                    <div id="costOfLiving1" class="slider"></div>
                  </div>
                </div>
              </div>
              <div class="post-tip-row">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Crime Rate</b></div>
                <div class="row-txt">
                  <div class="index-slider-wrap">
                    <div class="counter">
                      <span id="currentRate1"></span>&nbsp;/&nbsp;<span id="totalRate1"></span>
                    </div>
                    <div id="crimeRate1" class="slider"></div>
                  </div>
                </div>
              </div>
              <div class="post-tip-row">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Quality of Life</b></div>
                <div class="row-txt">
                  <div class="index-slider-wrap">
                    <div class="counter">
                      <span id="currentQuolity1"></span>&nbsp;/&nbsp;<span id="totalQuolity1"></span>
                    </div>
                    <div id="qualityOfLife1" class="slider"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="post-block post-tips-list-block">
            <div class="post-top-layer">
              <div class="top-left">
                <ul class="foot-avatar-list">
                  <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
                </ul>&nbsp;
              </div>
              <div class="top-right">
                <div class="top-comment-icon">
                  <i class="trav-talk-icon"></i>
                </div>
              </div>
            </div>
            <div class="post-list-inner">
              <div class="post-tip-row tip-txt">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Visa</b></div>
                <div class="row-txt"><span class="red">Required for Moroccan Passport Holders</span></div>
              </div>
              <div class="post-tip-row tip-txt">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>ID</b></div>
                <div class="row-txt"><span>Proin cursus erat at lorem placerat, bibendum tincidunt.</span></div>
              </div>
              <div class="post-tip-row tip-txt">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Photos</b></div>
                <div class="row-txt"><span>Mauris laoreet nibh nec odio porta consectetur.</span></div>
              </div>
              <div class="post-tip-row tip-txt">
                <div class="row-label"><i class="trav-about-icon"></i>&nbsp; <b>Good behavior certificate</b></div>
                <div class="row-txt"><span>Aenean viverra mi at varius venenatis.</span></div>
              </div>

            </div>
          </div>

          <div class="post-block post-tips-list-block">
            <div class="post-top-layer">
              <div class="top-left">
                <h3 class="post-tip-ttl_lg">Best Time to Go</h3>
              </div>
              <div class="top-right">
                <a href="#" class="tip-link"><i class="trav-open-video-in-window"></i>&nbsp; Flight Search</a>
              </div>
            </div>
            <div class="post-top-layer">
              <div class="top-left">
                <ul class="foot-avatar-list">
                  <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
                </ul>&nbsp;
              </div>
              <div class="top-right">
                <div class="top-comment-icon">
                  <i class="trav-talk-icon"></i>
                </div>
              </div>
            </div>
            <div class="post-flight-content">
              <div class="progress-block">
                <ul class="color-list">
                  <li class="low">
                    Low Season
                  </li>
                  <li class="mid">
                    Mid Season
                  </li>
                  <li class="high">
                    High Season
                  </li>
                </ul>
                <div class="progress-inner">
                  <div class="progress-row">
                    <div class="progress-label">January</div>
                    <div class="progress-wrapper">
                      <div class="progress high">
                        <div class="progress-bar" style="width:70%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">February</div>
                    <div class="progress-wrapper">
                      <div class="progress mid">
                        <div class="progress-bar" style="width:40%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">March</div>
                    <div class="progress-wrapper">
                      <div class="progress low">
                        <div class="progress-bar" style="width:26%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">April</div>
                    <div class="progress-wrapper">
                      <div class="progress low">
                        <div class="progress-bar" style="width:30%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">May</div>
                    <div class="progress-wrapper">
                      <div class="progress low">
                        <div class="progress-bar" style="width:13%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">June</div>
                    <div class="progress-wrapper">
                      <div class="progress mid">
                        <div class="progress-bar" style="width:35%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">July</div>
                    <div class="progress-wrapper">
                      <div class="progress high">
                        <div class="progress-bar" style="width:70%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">August</div>
                    <div class="progress-wrapper">
                      <div class="progress high">
                        <div class="progress-bar" style="width:90%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">September</div>
                    <div class="progress-wrapper">
                      <div class="progress mid">
                        <div class="progress-bar" style="width:50%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">October</div>
                    <div class="progress-wrapper">
                      <div class="progress low">
                        <div class="progress-bar" style="width:25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">November</div>
                    <div class="progress-wrapper">
                      <div class="progress mid">
                        <div class="progress-bar" style="width:45%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="progress-row">
                    <div class="progress-label">December</div>
                    <div class="progress-wrapper">
                      <div class="progress high">
                        <div class="progress-bar" style="width:100%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flight-note">
                <h4 class="note-ttl">Note:</h4>
                <div class="note-txt">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis vitae massa sed lacus vulputate volutpat in at mauris.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <app-country-weather></app-country-weather>

        </div>

        <!-- SIDEBAR -->
        <div class="sidebar-layer" id="sidebarLayer" [ngClass]="{'sidebar-open': openMobileSideBar | async }">
          <aside class="sidebar">

            <app-sidebar-about-box [data]="data"></app-sidebar-about-box>


           <div *ngIf="!isCountry" class="post-block post-side-block">
              <div class="post-side-inner">
                <button type="button" class="btn btn-light-primary btn-bordered btn-full" (click)="addTrip()">
                  <i class="trav-add-trip-icon"></i>
                  Add a Trip
                </button>
              </div>
           </div>

            <div class="post-block post-side-block">
              <div class="post-side-inner">
                <div class="post-map-block">
                  <div class="post-map-inner">
                    <img src="http://placehold.it/345x435" alt="map">
                  </div>
                </div>
              </div>
            </div>

            <div class="post-block post-side-block">
              <div class="post-side-top">
                <h3 class="side-ttl">New york today</h3>
              </div>
              <div class="post-side-image-inner">
                <ul class="post-image-list">
                  <li>
                    <img src="http://placehold.it/112x119" alt="">
                  </li>
                  <li>
                    <img src="http://placehold.it/112x119" alt="">
                  </li>
                  <li>
                    <img src="http://placehold.it/112x119" alt="">
                  </li>
                  <li>
                    <img src="http://placehold.it/112x119" alt="">
                  </li>
                  <li>
                    <img src="http://placehold.it/112x119" alt="">
                  </li>
                  <li class="add-photo-link">
                    <div class="icon-wrap">
                      <i class="fa fa-plus"></i>
                    </div>
                    <span>Add photo</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="post-block post-side-block">
              <div class="post-side-top">
                <h3 class="side-ttl">Suggest</h3>
              </div>
              <div class="post-suggest-inner">
                <div class="suggest-icon-wrap">
                  <i class="trav-etiquette-icon"></i>
                </div>
                <div class="suggest-txt">
                  <p>Have something to say about etiquette in New York?</p>
                </div>
                <button type="button" class="btn btn-light-primary btn-bordered btn-full">
                  Suggest one
                </button>
              </div>
            </div>

            <div class="post-block post-side-block">
              <div class="post-side-top">
                <h3 class="side-ttl">Suggest</h3>
              </div>
              <div class="post-suggest-inner">
                <div class="suggest-icon-wrap">
                  <i class="trav-health-hand-icon"></i>
                </div>
                <div class="suggest-txt">
                  <p>Have something to say about health in New York?</p>
                </div>
                <button type="button" class="btn btn-light-primary btn-bordered btn-full">
                  Add your Advice
                </button>
              </div>
            </div>

            <div class="post-block post-side-block">
              <div class="post-side-top">
                <h3 class="side-ttl">Suggest</h3>
              </div>
              <div class="post-suggest-inner">
                <div class="suggest-icon-wrap">
                  <i class="trav-caution-icon"></i>
                </div>
                <div class="suggest-txt">
                  <p>Have something to say about caution in New York?</p>
                </div>
                <button type="button" class="btn btn-light-primary btn-bordered btn-full">
                  Let us Know
                </button>
              </div>
            </div>

            <div class="post-block post-embassy-block">
              <div class="post-image-wrap">
                <img src="http://placehold.it/383x170" alt="map">
                <div class="post-place-image">
                  <img src="http://placehold.it/80x80" alt="place">
                </div>
              </div>
              <div class="post-place-location-info">
                <div class="post-place-txt">
                  <div class="post-place-row">
                    <h3 class="place-ttl">Embassy location</h3>
                  </div>
                  <div class="post-place-row">
                    <div class="place-txt">
                      <address>122 Boulevard d'Anfa, 5th Floor, Casablanca 20000, Morocco.</address>
                    </div>
                  </div>
                  <div class="post-place-row">
                    <div class="place-label">Opening time:</div>
                    <div class="place-txt"><span>8AM – 5PM</span></div>
                  </div>
                  <div class="post-place-row">
                    <div class="place-label">Phone number:</div>
                    <div class="place-txt"><span>05 37 63 72 00</span></div>
                  </div>
                  <div class="post-place-row">
                    <div class="place-label">Website URL:</div>
                    <div class="place-txt"><a href="ma.usembassy.gov">ma.usembassy.gov</a></div>
                  </div>
                </div>
                <div class="post-place-info-foot">
                  <div class="location-drop-wrap">
                    <a href="#" class="foot-link" id="locationDrop">No in Morocco?</a>
                    <div class="location-block-inner">
                      <div class="loc-search-block">
                        <input type="text" class="" id="locSearchInput">
                      </div>
                      <div class="loc-result-block">
                        <div class="res-row">France</div>
                        <div class="res-row">Faroe Islands</div>
                        <div class="res-row">Fiji</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="post-block post-country-block">
              <div class="post-side-top">
                <h3 class="side-ttl">Flights from Morocco</h3>
              </div>
              <div class="post-country-inner">
                <div class="post-txt-wrap">
                  <a href="#" class="question-link">Not in Morocco?</a>
                  <p class="post-txt">New York is 7h 48min away from Rabat in
                    direct fligth time, excluding any potentional layovers.
                  </p>
                </div>
                <div class="post-map-block">
                  <div class="post-map-inner">
                    <img src="http://placehold.it/345x370" alt="map">
                    <div class="flight-icon" style="left:40%;top:40%;">
                      <i class="trav-angle-plane-icon"></i>
                      <div class="flight-tooltip">
                        7h 48min
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="post-block post-country-block">
              <div class="post-side-top">
                <h3 class="side-ttl">Main Airports <span class="count">12</span></h3>
                <div class="side-right-control">
                  <a href="#" class="see-more-link lg">See All</a>
                </div>
              </div>
              <div class="post-country-inner">
                <div class="dest-list">
                  <div class="dest-item">
                    <div class="dest-location"><i class="trav-set-location-icon"></i>&nbsp; Queens</div>
                    <div class="dest-link-wrap">
                      <a href="#" class="dest-link">John F.Kennedy International Airport</a>
                    </div>
                  </div>
                  <div class="dest-item">
                    <div class="dest-location"><i class="trav-set-location-icon"></i>&nbsp; Queens</div>
                    <div class="dest-link-wrap">
                      <a href="#" class="dest-link">LaGuardia Airport</a>
                    </div>
                  </div>
                  <div class="dest-item">
                    <div class="dest-location"><i class="trav-set-location-icon"></i>&nbsp; Orange Country</div>
                    <div class="dest-link-wrap">
                      <a href="#" class="dest-link">Stewart International Airport</a>
                    </div>
                  </div>
                  <div class="dest-item">
                    <div class="dest-location"><i class="trav-set-location-icon"></i>&nbsp; Westchester</div>
                    <div class="dest-link-wrap">
                      <a href="#" class="dest-link">Westchester Country Airport</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="share-page-block">
              <div class="share-page-inner">
                <div class="share-txt">Share this page</div>
                <ul class="share-list">
                  <li *ngFor="let share of ['fa-facebook', 'fa-twitter', 'fa-pinterest-p', 'fa-code']">
                    <a href="#"><i class="fa {{share}}"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="aside-footer">
              <ul class="aside-foot-menu">
                <li *ngFor="let item of ['Privacy', 'Terms', 'Advertising', 'Cookies', 'More']">
                  <a href="#">{{item}}</a>
                </li>
              </ul>
              <p class="copyright">Travooo &copy; 2017</p>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
