<!-- would visit place popup -->
<div [formGroup]="form" class="modal-dialog" id="login" tabindex="-1" role="dialog">
  <button class="modal-close" type="button" data-dismiss="modal" aria-label="Close">
    <i class="trav-close-icon"></i>
  </button>
  <div class="modal-dialog modal-custom-style modal-750" role="document">
    <div class="modal-custom-block">
      <div class="post-block post-modal-trip-planner">
        <div class="plan-head">
          <h4 class="ttl">Trip Planner</h4>
          <div class="head-btn-wrap">
            <button type="button" class="btn btn-light-primary btn-bordered" (click)="onNextStepClick()">Next step</button>
          </div>
        </div>
        <div class="create-trip-block">
          <div class="form-row">
            <div class="field-label">What you want to call your trip?</div>
            <div class="field-item">
              <input type="text" placeholder="From Morocco to Japan in 16 Days" formControlName="title">
            </div>
          </div>
          <div class="form-row">
            <div class="field-label">What you are intending to go to this trip?</div>
            <div class="field-item">
              <div class="field-ttl">Date</div>
              <div class="date-inner">
                19 October 2017
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="field-label">Privacy options</div>
            <p>You decide who can see your Trip Plan, you changed this at any time.</p>
          </div>
          <div class="create-footer">
            <button type="button" class="btn btn-light-primary btn-bordered">
              <div class="icon-wrap">
                <i class="trav-earth"></i>
              </div>
              <div class="btn-text">
                <div class="ttl">Public</div>
                <div class="sub-ttl">Everyone can see this</div>
              </div>
              <input type="radio" value="1" formControlName="privacy">
            </button>
            <button type="button" class="btn btn-transp btn-bordered">
              <div class="icon-wrap">
                <i class="trav-friends-icon"></i>
              </div>
              <div class="btn-text">
                <div class="ttl">Friends</div>
                <div class="sub-ttl">Only visible to friends</div>
              </div>
              <input type="radio" value="2" formControlName="privacy">
            </button>
            <button type="button" class="btn btn-transp btn-bordered">
              <div class="icon-wrap">
                <i class="trav-lock-icon"></i>
              </div>
              <div class="btn-text">
                <div class="ttl">Private</div>
                <div class="sub-ttl">Visible only to me</div>
              </div>
              <input type="radio" value="3" formControlName="privacy">
            </button>
          </div>
        </div>
      </div>
      <p class="sub-ttl error-message" *ngIf="error$ | async">{{error$ | async}}</p>
    </div>
  </div>
</div>
