<div class="post-block post-tips-list-block">
  <div class="post-top-layer">
    <div class="top-left">
      <ul class="foot-avatar-list">
        <li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li><!--
										--><li><img class="small-ava" src="http://placehold.it/28x28" alt="ava"></li>
      </ul>&nbsp;
      <div class="post-top-txt">
        <!--<span class="name">John mobile</span>-->
        <!--<span>and 7 more are talking about this</span>-->
      </div>
    </div>
    <div class="top-right">
      <div class="top-comment-icon">
        <i class="trav-talk-icon"></i>
      </div>
    </div>
  </div>
  <div class="post-list-inner">
    <div class="post-tip-row" *ngFor="let item of data.split('\r\n\r\n')">
      <div class="row-label">{{item | match : '.*\\s'}} &nbsp;<b>{{item | match : '\\s.*'}}</b></div>
    </div>
  </div>
</div>
