
<header class="main-header step-header">

  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img src="./assets/image/main-small-logo.png" alt="">
      </a>


      <!--  PROGRESS SECTION START -->

      <div class="progress-block signUpProgress" *ngIf="(registrationStep$ | async)">
        <div class="progress-wrapper">
          <div class="progress-point">Start</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="1" aria-valuemin="0" aria-valuemax="6" [style.width]="1"></div>
          </div>
          <div class="progress-point">Finish</div>
        </div>
      </div>

      <!--  PROGRESS SECTION END -->



    </nav>
  </div>
</header>
