.sign-up-style{
    /*max-width: 868px;*/
    margin: 105px auto 30px;
}

.btn-primary{
    color: white !important;
}

header.main-header.step-header {
    z-index: 1051 !important;
}

.blockUI{
    z-index: 1052 !important;
}