<div class="post-block">
  <div class="post-side-top">
    <h3 class="side-ttl">
      Photos of {{data.info.place.trans[0]?.title}}
      <span class="count">{{data?.media.length}}</span>
    </h3>
    <div class="side-right-control">
      <a class="see-more-link lg" (click)="openGallery($event)">More photos</a>
    </div>
  </div>
  <div class="post-image-container">
    <div class="flex-image-wrap fh-395 bw-5">
      <div class="image-column col-33">
        <div class="image-inner img-h-66" *ngIf="!data?.media[0]" style="background-image:url(http://placehold.it/200x270)"></div>
        <div class="image-inner img-h-66" *ngIf="data?.media[0]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[0]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[0]?.url + ')'}">
        </div>

        <div class="image-inner img-h-33" *ngIf="!data?.media[1]" style="background-image:url(http://placehold.it/200x115)"></div>
        <div class="image-inner img-h-33" *ngIf="data?.media[1]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[1]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[1]?.url + ')'}">
        </div>
      </div>

      <div class="image-column col-33">
        <div class="image-inner img-h-45" *ngIf="!data?.media[2]"style="background-image:url(http://placehold.it/200x185)"></div>
        <div class="image-inner img-h-45" *ngIf="data?.media[2]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[2]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[2]?.url + ')'}">
        </div>
        <div class="image-inner img-h-55" *ngIf="!data?.media[3]" style="background-image:url(http://placehold.it/200x200)"></div>
        <div class="image-inner img-h-55" *ngIf="data?.media[3]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[3]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[3]?.url + ')'}">

        </div>
      </div>
      <div class="image-column col-33">
        <div class="image-inner img-h-60" *ngIf="!data?.media[4]" style="background-image:url(http://placehold.it/200x240)"></div>
        <div class="image-inner img-h-60" *ngIf="data?.media[4]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[4]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[4]?.url + ')'}">
        </div>
        <div class="image-inner img-h-40" *ngIf="!data?.media[5]" style="background-image:url(http://placehold.it/200x145)"></div>
        <div class="image-inner img-h-40" *ngIf="data?.media[5]"
             [ngStyle]="{'background-image': 'url(https://s3.amazonaws.com/travooo-images2/th230/'
              + data.media[5]?.url + '), url(https://s3.amazonaws.com/travooo-images2/'
               + data.media[5]?.url + ')'}">
        </div>
      </div>
    </div>
  </div>
</div>
