<div class="main-wrapper">
  <header class="main-header" *ngIf="!showMessage">
    <div class="container-fluid">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button">
          <i class="trav-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <img src="./assets/image/main-circle-logo.png" alt="">
          <span>Travooo</span>
          <span class="blue">Trip Planner</span>
        </a>

        <div class="collapse navbar-collapse create-navbar" id="navbarSupportedContent">
          <ul class="navbar-nav create-menu">
            <li class="nav-item">
              <a class="nav-link" (click)="cancelTrip()" [ngStyle]="{'cursor': 'pointer'}">Cancel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Save as draft</a>
            </li>
            <li class="nav-item">
              <a (click)="publishTrip()" class="nav-link btn btn-light-primary"  >Save plan</a>
            </li>
            <li class="nav-item">
              <a class="profile-link" href="#">
                <img src="http://placehold.it/36x36" alt="">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <h3 class="place-title text-center" *ngIf="showMessage">Please fill the information for cities & places</h3>
  <div class="create-trip-wrapper">
    <div class="trip-side">
      <div class="trip-side-content">
      <app-completed-place-box [cities]="(citiesInfo$ | async).cities" [trip_id]="routeParams.id"></app-completed-place-box>
      <app-place-details-box [cities]="(citiesInfo$ | async).cities" [trip_id]="routeParams.id" [alreadySpent]="(alreadySpent$| async)"></app-place-details-box>
      <app-city-arrive-box [cities]="(citiesInfo$ | async).cities" [trip_id]="routeParams.id" ></app-city-arrive-box>
      </div>
      <div class="trip-side-button-block">
        <button class="btn btn-transp btn-bordered" (click)="openPlaceModal()">
          <i class="trav-add-place-icon"></i>
          <span>Add a Place in {{(citiesInfo$ | async).activeCity.trans[0].title}}</span>
        </button>
        <button class="btn btn-transp btn-bordered"  (click)="openCityModal()">
          <i class="trav-move-new-icon"></i>
          <span>Move to a new Country or City</span>
        </button>
      </div>
    </div>
    <div class="trip-map-block">
      <div class="trip-top-timeline">
        <div class="timeline-layer">
          <img src="http://placehold.it/800x50?text=timeline+place:https://timeline.knightlab.com" alt="timeline">
        </div>

       <!--TODO FIND SOME MODULE FOR DAY SLIDER ANGULAR 2+-->
       <!--<div class="day-slider">
          <ul class="calendar-slider" id="createTripCalendarSlider">
            <li>
              <div class="number-day">16</div>
              <div class="month">oct</div>
            </li>
            <li>
              <div class="number-day">17</div>
              <div class="month">oct</div>
            </li>
            <li class="active">
              <div class="number-day">18</div>
              <div class="month">oct</div>
            </li>
            <li>
              <div class="number-day">19</div>
              <div class="month">oct</div>
            </li>
            <li>
              <div class="number-day">20</div>
              <div class="month">oct</div>
            </li>
            <li>
              <div class="number-day">21</div>
              <div class="month">oct</div>
            </li>
          </ul>
          <ul class="calendar-link-list">
            <li>
              <a href="#" class="prevDay"><i class="trav-angle-left"></i></a>
            </li>
            <li>
              <span class="dot"></span>
            </li>
            <li>
              <a href="#" class="nextDay"><i class="trav-angle-right"></i></a>
            </li>
          </ul>
        </div>-->


        <div class="timeline-btn-wrap">
          <button class="btn btn-light-bg-grey btn-bordered">Next Day</button>
        </div>
      </div>
      <agm-map (mapReady)="storeMapReady($event)">
        <template *ngFor="let city of (citiesInfo$ | async).cities">
          <agm-marker *ngIf="currentLocation.lat && currentLocation.lng" [latitude]="currentLocation.lat" [longitude]="currentLocation.lng"></agm-marker>
          <agm-marker *ngFor="let place of city.places "   [latitude]="+place.lat" [longitude]="+place.lng"></agm-marker>
        </template>
      </agm-map>
      <!--<div class="trip-map-layer">
        <img src="./assets/image/create-trip-plan-map.jpg" alt="">
        <div class="trip-map-filter-block">
          <h5 class="filter-ttl">Filter by</h5>
          <ul class="filter-list">
            <li>
              <a href="#">
                <i class="trav-building-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-heart-beat-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-library-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-hot-cup-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-cutlery-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-p-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-spruce-tree-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-movie-arrow-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-angle-plane-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-railway-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-credit-card-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-bus-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-shop-cart-icon"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="trav-broken-building-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>
</div>
