<div class="modal-dialog sign-up-step final-step" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-header">
        <i class="trav-check-circle-icon"></i>
      </div>
      <div class="modal-main">
        <h4 class="ttl">Signup Successful!</h4>
        <p>Welcome! We're excited to have you in our community, Your signup is complete and you're all set to start enjoying Travooo.</p>
        <button type="button" routerLink="/home" class="btn btn-light-primary btn-bordered">Get Started!</button>
      </div>
    </div>
  </div>
</div>
