
:host/deep/{
  .slider-item:hover, .see-more-link:hover {
    cursor: pointer;
  }

  // modify spinner css to center it
  .la-ball-clip-rotate-multiple.la-3x {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}


