<div class="left-outside-menu-wrap" id="leftOutsideMenu"  [ngClass]="{'filter-open': showComponent | async }">
  <ul class="left-outside-menu">
    <li class="active">
      <a href="#">
        <i class="trav-profile-icon"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="trav-home-icon"></i>
        <span>Posts</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="trav-map-o"></i>
        <span>My Map</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="trav-travel-history-icon"></i>
        <span>Travel History</span>
      </a>
    </li>
  </ul>
</div>
