<div class="post-block post-card-block">
  <div class="post-place-info-card">
    <div class="image-wrap">
      <img src="http://placehold.it/400x210" alt="">
      <div class="post-place-image-info">
        <div class="place-flag-image">
          <img class="flag-image" src="http://placehold.it/105x53/e70c24?text=flag" alt="flag">
        </div>
        <div class="follow-btn-wrap">
          <button type="button" class="btn btn-light-grey btn-bordered btn-icon-side btn-icon-right" (click)="followCountry()">
            <i class="trav-comment-plus-icon"></i>
            <span>Follow</span>
            <span class="icon-wrap"><i class="trav-view-plan-icon"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="post-slider-caption">
      <p class="post-place-name" >{{data.info.trans[0].title}}</p>
      <p class="post-card-placement">
        <!--City in--> <a >{{data.info.trans[0].title}}</a>
      </p>
      <ul class="post-footer-info-list">
        <li>
          <p class="info-count">{{data.stats.followers}}</p>
          <p class="info-label">Followers</p>
        </li>
        <li>
          <p class="info-count">{{data.stats.trips}}</p>
          <p class="info-label">Trip Plans</p>
        </li>
        <li>
          <p class="info-count">64.857</p>
          <p class="info-label">Talking about it</p>
        </li>
      </ul>
    </div>
  </div>
</div>
