<div class="post-block post-user-rating">
  <div class="post-side-top">
    <div class="post-top-txt">
      <h3 class="side-ttl">User rating</h3>
      <div class="com-star-block">
        <ul class="com-star-list">
          <li><i class="trav-star-icon"></i></li>
          <li><i class="trav-star-icon"></i></li>
          <li><i class="trav-star-icon"></i></li>
          <li><i class="trav-star-icon"></i></li>
          <li><i class="trav-star-icon"></i></li>
        </ul>
        <span class="count">
                      <b>{{data.reviews?.rating ? data.reviews?.rating : 'No info'}}</b>
                    </span>
        <span>from</span>
        <a href="#" class="review-link">39 Reviews</a>
      </div>
    </div>
    <div class="top-btn-wrap">
      <button type="button" class="btn btn-transp btn-bordered" (click)="writeReview()">Write a Review</button>
    </div>
  </div>
  <div class="post-comment-layer">
    <div class="post-comment-wrapper">
      <div class="post-comment-row">
        <div class="post-com-avatar-wrap">
          <img src="http://placehold.it/45x45" alt="">
        </div>
        <div class="post-comment-text">
          <div class="post-com-name-layer">
            <a href="#" class="comment-name">Katherin</a>
            <a href="#" class="comment-nickname">@katherin</a>
          </div>
          <div class="comment-txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus labore tenetur vel. Neque molestiae repellat culpa qui odit delectus.</p>
          </div>
          <div class="comment-bottom-info">
            <div class="com-star-block">
              <ul class="com-star-list">
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
              </ul>
              <span class="count">
                            <b>5</b> / 5
                          </span>
            </div>
            <div class="dot">·</div>
            <div class="com-time">6 hours ago</div>
          </div>
        </div>
      </div>
      <div class="post-comment-row">
        <div class="post-com-avatar-wrap">
          <img src="http://placehold.it/45x45" alt="">
        </div>
        <div class="post-comment-text">
          <div class="post-com-name-layer">
            <a href="#" class="comment-name">Amine</a>
            <a href="#" class="comment-nickname">@ak0117</a>
          </div>
          <div class="comment-txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus.</p>
          </div>
          <div class="comment-bottom-info">
            <div class="com-star-block">
              <ul class="com-star-list">
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li class="empty"><i class="trav-star-icon"></i></li>
              </ul>
              <span class="count">
                            <b>4</b> / 5
                          </span>
            </div>
            <div class="dot">·</div>
            <div class="com-time">6 hours ago</div>
          </div>
        </div>
      </div>
      <div class="post-comment-row">
        <div class="post-com-avatar-wrap">
          <img src="http://placehold.it/45x45" alt="">
        </div>
        <div class="post-comment-text">
          <div class="post-com-name-layer">
            <a href="#" class="comment-name">Katherin</a>
            <a href="#" class="comment-nickname">@katherin</a>
          </div>
          <div class="comment-txt">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus labore tenetur vel. Neque molestiae repellat culpa qui odit delectus.</p>
          </div>
          <div class="comment-bottom-info">
            <div class="com-star-block">
              <ul class="com-star-list">
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
                <li><i class="trav-star-icon"></i></li>
              </ul>
              <span class="count">
                            <b>5</b> / 5
                          </span>
            </div>
            <div class="dot">·</div>
            <div class="com-time">6 hours ago</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
