.lg-toolbar .lg-close{
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
  }
  .trav-close-icon:before{
    color: #fff;
    position: absolute;
    top: 5px;
    left: 6px;
    cursor: pointer;
  }
}

.lg-outer .lg-item.lg-current{
  width: 1140px;
  &:before{
    display: none;
  }
}
.main-gallery-block.lg-outer .lg-item .lg-img-wrap{
  left: 0;
  height: 100%;
  position: relative;
  width: 750px;
  z-index: 900;
  display: block;

  &:before{
    display: none;
  }

   a{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
    left: calc(50%);
     max-height: 640px;
     display: block;
     img{
       max-height: 640px!important;
     }
  }
}

.lg-outer.lg-has-thumb .lg-item{
  padding-bottom: 0;
}
.main-gallery-block.lg-outer .lg-thumb{
  &.lg-group{
    width: 1200px;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 600ms;
    .lg-thumb-item{
      width:100px;
      height: 100%;
      margin-right: 20px;

      &.active{
        opacity: 1;
      }
    }
  }
}
.modal-outside-link-list li a{
  cursor: pointer;
}
.post-foot-block.post-reaction{
  cursor: pointer;
}
.lg-outer .lg-dropdown {
  right: 60px;

  a{
    width: 120px;
    white-space: normal;

    .lg-dropdown-text{
      margin-top: 0;
    }
  }
}
.reply-to{
  transition: 0.4s;
  cursor: pointer;
  opacity: 0;
}
.post-comment-row:hover{
  .reply-to{
    opacity: 1;
  }
}
.post-comment-wrapper .post-comment-row .post-comment-text .comment-bottom-info{
  display: block;
}
.reply{
  color: #404040;
  position: relative;
  font-size: 12px;
  height: 50px;
  padding: 12px 0 8px 2px;

  span{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    right: 0;
    top:0;
    margin-top: 5px;
    transform: rotate(45deg);
    cursor: pointer;
  }
}
