<div
  class="lg-outer main-gallery-block  lg-slide lg-grab lg-show-after-load lg-pull-caption-up lg-has-thumb lg-visible lg-thumb-open">
  <div class="lg" style="width:100%; height:100%">
    <div class="lg-inner">
      <div class="lg-item lg-current lg-complete"  style="display: block!important">
        <div class="lg-img-wrap" style="padding-right: 390px;width: 1140px;">
          <img class="lg-object lg-image" src="https://sachinchoolur.github.io/lightGallery/static/img/2-1600.jpg">
        </div>
        <div class="cover-block" style="width: 1140px;">
          <div class="cover-block-inner comment-block" style="width: 1140px;">
            <ul class="modal-outside-link-list white-bg">
              <li class="outside-link">
                <a href="#">
                  <div class="round-icon">
                    <i class="trav-angle-left"></i>
                  </div>
                  <span>Back</span>
                </a>
              </li>
              <li class="outside-link">
                <a href="#">
                  <div class="round-icon">
                    <i class="trav-flag-icon"></i>
                  </div>
                  <span>Report</span>
                </a>
              </li>
            </ul>
            <div class="gallery-comment-wrap">
              <div class="gallery-comment-inner mCustomScrollbar _mCS_4">
                <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
                     tabindex="0">
                  <div id="mCSB_4_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;"
                       dir="ltr">
                    <div class="top-gallery-content gallery-comment-top">
                      <div class="top-info-layer">
                        <div class="top-avatar-wrap">
                          <img src="http://placehold.it/50x50" alt="" class="mCS_img_loaded">
                        </div>
                        <div class="top-info-txt">
                          <div class="preview-txt">
                            <a class="dest-name" href="#">Julie</a>
                            <p class="dest-place">uploaded a <b>photo</b> <span class="date">2 hours ago</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="gallery-comment-txt">
                        <p>This is an amazing street to walk around and do some shopping</p>
                      </div>
                      <div class="gal-com-footer-info">
                        <div class="post-foot-block post-reaction">
                          <i class="trav-heart-fill-icon"></i>
                          <span><b>185</b></span>
                        </div>
                        <div class="post-foot-block post-comment-place">
                          <i class="trav-location"></i>
                          <span class="place-name">510 LaGuardia Pl, Paris, France</span>
                        </div>
                      </div>
                    </div>
                    <div class="post-comment-layer">
                      <div class="post-comment-top-info">
                        <div class="comm-count-info">
                          5 Comments
                        </div>
                        <div class="comm-count-info">
                          3 / 20
                        </div>
                      </div>
                      <div class="post-comment-wrapper">
                        <div class="post-comment-row">
                          <div class="post-com-avatar-wrap">
                            <img src="http://placehold.it/45x45" alt="" class="mCS_img_loaded">
                          </div>
                          <div class="post-comment-text">
                            <div class="post-com-name-layer">
                              <a href="#" class="comment-name">Katherin</a>
                              <a href="#" class="comment-nickname">@katherin</a>
                            </div>
                            <div class="comment-txt">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus labore tenetur
                                vel. Neque molestiae repellat culpa qui odit delectus.</p>
                            </div>
                            <div class="comment-bottom-info">
                              <div class="com-reaction">
                                <img src="./assets/image/icon-smile.png" alt="" class="mCS_img_loaded">
                                <span>21</span>
                              </div>
                              <div class="com-time">6 hours ago</div>
                            </div>
                          </div>
                        </div>
                        <div class="post-comment-row happen-event">
                          <div class="post-com-avatar-wrap">
                            <img src="http://placehold.it/45x45" alt="" class="mCS_img_loaded">
                          </div>
                          <div class="post-comment-text">
                            <div class="post-com-name-layer">
                              <a href="#" class="comment-name">Amine</a>
                              <a href="#" class="comment-nickname">@ak0117</a>
                            </div>
                            <div class="comment-txt">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus.</p>
                            </div>
                            <div class="comment-bottom-info">
                              <div class="com-reaction">
                                <img src="./assets/image/icon-like.png" alt="" class="mCS_img_loaded">
                                <span>19</span>
                              </div>
                              <div class="com-time">6 hours ago</div>
                            </div>
                          </div>
                        </div>
                        <div class="post-comment-row">
                          <div class="post-com-avatar-wrap">
                            <img src="http://placehold.it/45x45" alt="" class="mCS_img_loaded">
                          </div>
                          <div class="post-comment-text">
                            <div class="post-com-name-layer">
                              <a href="#" class="comment-name">Katherin</a>
                              <a href="#" class="comment-nickname">@katherin</a>
                            </div>
                            <div class="comment-txt">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus labore tenetur
                                vel. Neque molestiae repellat culpa qui odit delectus.</p>
                            </div>
                            <div class="comment-bottom-info">
                              <div class="com-reaction">
                                <img src="./assets/image/icon-smile.png" alt="" class="mCS_img_loaded">
                                <span>15</span>
                              </div>
                              <div class="com-time">6 hours ago</div>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="load-more-link">Load more...</a>
                      </div>
                    </div>
                  </div>
                  <div id="mCSB_4_scrollbar_vertical"
                       class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                       style="display: block;">
                    <div class="mCSB_draggerContainer">
                      <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                           style="position: absolute; min-height: 30px; top: 0px; display: block; height: 445px; max-height: 540px;">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                      </div>
                      <div class="mCSB_draggerRail"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-add-comment-block">
                <div class="avatar-wrap">
                  <img src="http://placehold.it/45x45" alt="">
                </div>
                <div class="post-add-com-input">
                  <input type="text" placeholder="Write a commenttt">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg-toolbar lg-group">
      <span class="lg-icon lg-close">
        <button class="trav-close-icon" mat-button  [mat-dialog-close]="true"></button>
      </span>
    </div>
    <div class="lg-actions">
      <button class="lg-prev lg-icon"><i class="trav-angle-left"></i></button>
      <button class="lg-next lg-icon"><i class="trav-angle-right"></i></button>
    </div>
    <div class="lg-thumb-outer lg-grab" style="height: 180px;">
      <div class="lg-thumb lg-group"
           style="width: 1200px; position: relative; transform: translate3d(0px, 0px, 0px); transition-duration: 600ms;">
        <div  class="lg-thumb-item" style="width:100px; height: 100%; margin-right: 20px"><img
          src="https://sachinchoolur.github.io/lightGallery/static/img/thumb-2.jpg"></div>
      </div>
    </div>
  </div>
</div>



