<div class="post-block post-country-block">
  <div class="post-side-top">
    <h3 class="side-ttl">About the {{ isCountry ? 'country' : 'city' }}</h3>
  </div>
  <div class="post-country-inner">
    <div class="post-footer-info">
      <div class="post-foot-block">
        <i class="trav-comment-icon"></i>
        <span class="blue-txt">Discussed</span>&nbsp;
        <span>by</span>&nbsp;
        <b>john moline, pitter garmen, richerd</b>&nbsp;
        <span>and 437 more</span>
      </div>
    </div>
    <div class="post-txt-wrap">
      <p class="post-txt">{{info.trans[0].description ? info.trans[0].description : 'No description'}}</p>
    </div>
    <div class="post-map-block">
      <div class="post-map-inner">
        <agm-map [latitude]="+info.lat" [longitude]="+info.lng"></agm-map>
        <div class="post-top-map-info">
          <div class="info-block">
            <div class="info-icon">
              <i class="trav-popularity-icon"></i>
            </div>
            <div class="info-txt">
              <div *ngIf="info.trans[0].population" class="info-ttl">{{info.trans[0].population}}</div>
              <div class="info-smpl">Population</div>
            </div>
          </div>
        </div>
        <div class="post-map-flag">
          <img *ngIf="info.iso_code" class="flag-image" src="{{'https://s3-us-west-2.amazonaws.com/travooo-assets/images/countryflags/medium/' + info.iso_code.toLowerCase() + '.png'}}" alt="flag">
        </div>
      </div>
    </div>
  </div>
</div>
