<div class="main-wrapper">
  <app-main-header></app-main-header>

  <div class="content-wrap">

    <button class="btn btn-mobile-side sidebar-toggler" id="sidebarToggler">
      <i class="trav-cog"></i>
    </button>
    <button class="btn btn-mobile-side left-outside-btn" id="filterToggler">
      <i class="trav-filter"></i>
    </button>

    <div class="container-fluid">
      <!-- left outside menu -->
      <app-profile-left-menu></app-profile-left-menu>

      <app-profile-header></app-profile-header>


      <div class="custom-row">
        <!-- MAIN-CONTENT -->
        <div class="main-content-layer">
          <app-profile-trip-plans *ngIf="currentTab === 'trip-plans'"></app-profile-trip-plans>
          <app-profile-videos *ngIf="currentTab === 'videos'"></app-profile-videos>
          <app-profile-interests *ngIf="currentTab === 'interests'"></app-profile-interests>
          <app-profile-visited *ngIf="currentTab === 'visited'"></app-profile-visited>
          <app-profile-favorites *ngIf="currentTab === 'favorites'"></app-profile-favorites>
          <app-profile-photos *ngIf="currentTab === 'photos'"></app-profile-photos>
          <app-profile-reviews *ngIf="currentTab === 'reviews'"></app-profile-reviews>
        </div>

        <!-- SIDEBAR -->
        <div class="sidebar-layer" id="sidebarLayer">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>
