<div class="main-wrapper">
  <app-main-header></app-main-header>

  <div class="content-wrap">

    <button class="btn btn-mobile-side sidebar-toggler" id="sidebarToggler">
      <i class="trav-cog"></i>
    </button>
    <button class="btn btn-mobile-side left-outside-btn" id="filterToggler">
      <i class="trav-filter"></i>
    </button>

    <div class="container-fluid">
      <!-- left outside menu -->
      <app-profile-left-menu></app-profile-left-menu>

      <app-profile-header></app-profile-header>
      <div class="custom-row">
        <!-- MAIN-CONTENT -->
        <div class="main-content-layer">
          <div class="post-block post-top-bordered">
            <div class="post-side-top top-arrow">
              <div class="post-top-txt horizontal">
                <h3 class="side-ttl">All trip plans <span class="count">5</span></h3>
              </div>
              <div class="side-right-control">
                <div class="sort-by-select">
                  <label>Sort by</label>
                  <div class="sort-select-wrap">
                    <select class="form-control" id="sortBy">
                      <option>Date</option>
                      <option>Item</option>
                      <option>Item2</option>
                    </select>
                    <i class="trav-caret-down"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="trip-plan-inner">
              <div class="trip-plan-row">
                <div class="trip-plan-inside-block">
                  <div class="trip-plan-map-img">
                    <img src="http://placehold.it/140x150" alt="map-image">

                    <div class="dropdown">
                      <button class="btn btn-light-primary btn-bordered" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                        <i class="trav-pencil"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-arrow">
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Edit</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Delete</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block trip-plan-txt">
                  <div class="trip-plan-txt-inner">
                    <div class="trip-txt-ttl-layer">
                      <h2 class="trip-ttl">New york city the right way</h2>
                      <p class="trip-date">18 to 21 Sep 2017</p>
                    </div>
                    <div class="trip-txt-info">
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-clock-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>4 Days</b></p>
                          <p>Duration</p>
                        </div>
                      </div>
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-distance-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>237 km</b></p>
                          <p>Distance</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block">
                  <div class="dest-trip-plan">
                    <h3 class="dest-ttl">Destination <span>6</span></h3>
                    <ul class="dest-image-list">
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trip-plan-row">
                <div class="trip-plan-inside-block">
                  <div class="trip-plan-map-img">
                    <img src="http://placehold.it/140x150" alt="map-image">

                    <div class="dropdown">
                      <button class="btn btn-light-primary btn-bordered" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                        <i class="trav-pencil"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-arrow">
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Edit</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Delete</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block trip-plan-txt">
                  <div class="trip-plan-txt-inner">
                    <div class="trip-txt-ttl-layer">
                      <h2 class="trip-ttl">Over the mediterranean sea</h2>
                      <p class="trip-date">18 to 21 Sep 2017</p>
                    </div>
                    <div class="trip-txt-info">
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-clock-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>16 Days</b></p>
                          <p>Duration</p>
                        </div>
                      </div>
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-distance-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>16K km</b></p>
                          <p>Distance</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block">
                  <div class="dest-trip-plan">
                    <h3 class="dest-ttl">Destination <span>13</span></h3>
                    <ul class="dest-image-list">
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li class="more-photo-link">
                        <img src="http://placehold.it/52x52" alt="photo">
                        <span class="cover">+8</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trip-plan-row">
                <div class="trip-plan-inside-block">
                  <div class="trip-plan-map-img">
                    <img src="http://placehold.it/140x150" alt="map-image">

                    <div class="dropdown">
                      <button class="btn btn-light-primary btn-bordered" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                        <i class="trav-pencil"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-arrow">
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Edit</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Delete</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block trip-plan-txt">
                  <div class="trip-plan-txt-inner">
                    <div class="trip-txt-ttl-layer">
                      <h2 class="trip-ttl">New york city the right way</h2>
                      <p class="trip-date">18 to 21 Sep 2017</p>
                    </div>
                    <div class="trip-txt-info">
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-clock-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>4 Days</b></p>
                          <p>Duration</p>
                        </div>
                      </div>
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-distance-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>237 km</b></p>
                          <p>Distance</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block">
                  <div class="dest-trip-plan">
                    <h3 class="dest-ttl">Destination <span>6</span></h3>
                    <ul class="dest-image-list">
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trip-plan-row">
                <div class="trip-plan-inside-block">
                  <div class="trip-plan-map-img">
                    <img src="http://placehold.it/140x150" alt="map-image">

                    <div class="dropdown">
                      <button class="btn btn-light-primary btn-bordered" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                        <i class="trav-pencil"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-arrow">
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Edit</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="drop-txt">
                            <p>Delete</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block trip-plan-txt">
                  <div class="trip-plan-txt-inner">
                    <div class="trip-txt-ttl-layer">
                      <h2 class="trip-ttl">New york city the right way</h2>
                      <p class="trip-date">18 to 21 Sep 2017</p>
                    </div>
                    <div class="trip-txt-info">
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-clock-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>4 Days</b></p>
                          <p>Duration</p>
                        </div>
                      </div>
                      <div class="trip-info">
                        <div class="icon-wrap">
                          <i class="trav-distance-icon"></i>
                        </div>
                        <div class="trip-info-inner">
                          <p><b>237 km</b></p>
                          <p>Distance</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trip-plan-inside-block">
                  <div class="dest-trip-plan">
                    <h3 class="dest-ttl">Destination <span>6</span></h3>
                    <ul class="dest-image-list">
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li>
                        <img src="http://placehold.it/52x52" alt="photo">
                      </li>
                      <li class="more-photo-link">
                        <img src="http://placehold.it/52x52" alt="photo">
                        <span class="cover">+2</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="trip-load-mark">
                Loading...
              </div>
            </div>
          </div>
        </div>

        <!-- SIDEBAR -->
        <div class="sidebar-layer" id="sidebarLayer">
          <app-profile-sidebar></app-profile-sidebar>
        </div>
      </div>
    </div>
  </div>
</div>
