<div class="left-outside-menu-wrap" id="leftOutsideMenu" [ngClass]="{'filter-open': showComponent | async }">
  <ul class="left-outside-menu">
    <li class="active"><a href="#">
      <i class="trav-about-icon"></i>
      <span>About</span>
    </a></li>
    <li><a href="#">
      <i class="trav-trips-tips-icon"></i>
      <span>Trips tips</span>
    </a></li>
    <li><a href="#">
      <i class="trav-weather-cloud-icon"></i>
      <span>Weather</span>
    </a></li>
    <li><a href="#">
      <i class="trav-etiquette-icon"></i>
      <span>Etiquette</span>
    </a></li>
    <li><a href="#">
      <i class="trav-health-hand-icon"></i>
      <span>Health</span>
    </a></li>
    <li><a href="#">
      <i class="trav-visa-embassy-icon"></i>
      <span>Visa</span>
    </a></li>
    <li><a href="#">
      <i class="trav-flights-icon"></i>
      <span>When to go</span>
    </a></li>
    <li><a href="#">
      <i class="trav-caution-icon"></i>
      <span>Caution</span>
    </a></li>
  </ul>
</div>
