<div class="post-block">
  <div class="post-side-top">
    <h3 class="side-ttl">People following this place <span class="count">{{(data | async)?.data.length}}</span></h3>
    <!--<p>{{(data | async).data | json}}</p>-->
    <div class="side-right-control">
      <a  class="slide-link slide-prev"><i class="trav-angle-left"></i></a>
      <a  class="slide-link slide-next"><i class="trav-angle-right"></i></a>
    </div>
  </div>
  <div class="post-side-inner">
    <div class="post-slide-wrap slide-hide-right-margin">
      <ul id="newPeopleDiscover" class="post-slider clearfix" >

        <li class="post-follow-card" *ngFor="let item of (data | async).data">
          <div class="follow-card-inner">
            <div class="image-wrap">
              <img *ngIf="!item.followers[0]?.profile_picture" src="http://placehold.it/42x42" alt="">
              <img *ngIf="item.followers[0]?.profile_picture" src="{{'https://s3.amazonaws.com/travooo-images2/' + item.followers[0].profile_picture}}" alt="">
            </div>
            <div class="post-slider-caption">
              <p class="post-card-name" *ngIf="item.followers[0]?.name">{{item.followers[0]?.name}}</p>
              <p class="post-card-spec">Photographer</p>
              <button type="button" class="btn btn-light-grey btn-bordered">Follow</button>
              <p class="post-card-follow-count">12K Followers</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

