<agm-map (mapReady)="storeMapReady($event)">
  <agm-marker *ngIf="currentLocation.lat && currentLocation.lng" [latitude]="currentLocation.lat" [longitude]="currentLocation.lng"></agm-marker>

  <!--START AGM DIRECTIONS FROM YOUR CITY YO FIRST PLACE -->
  <template *ngIf="currentLocation.lat && currentLocation.lng && cities[0].transportation">
    <agm-direction
                    [travelMode]="getTravelMode(cities[0].transportation)" [renderOptions]="directionOptions"
                    [origin]="{lat: currentLocation.lat,lng: currentLocation.lng}"
                    [destination]="{lat: +cities[0].places[0].lat,lng: +cities[0].places[0].lng}"
                    (onChange)="dirChange($event)"
                    [visible]="isModeAllowed(cities[0].transportation)">
    </agm-direction>
  </template>

  <template *ngIf="cities[0].transportation && !isModeAllowed(cities[0].transportation)">
    <agm-polyline  [strokeColor]="getTravelMode(cities[0].transportation)=='PLANE'?'#47a0fc':'#505050'" [strokeWeight]="5" [strokeOpacity]="0.9">
      <agm-polyline-point
        [latitude]="currentLocation.lat"
        [longitude]="currentLocation.lng">
      </agm-polyline-point>
      <agm-polyline-point
        [latitude]="+cities[0].places[0].lat"
        [longitude]="+cities[0].places[0].lng">
      </agm-polyline-point>
    </agm-polyline>
  </template>

  <!--END AGM DIRECTIONS FROM YOUR CITY YO FIRST PLACE -->



  <template *ngFor="let city of cities; let i = index">

    <template *ngIf="(i + 1) < cities.length && !isModeAllowed(cities[i+1].transportation) && cities[i+1].places.length">
      <agm-polyline *ngIf="cities[i+1].transportation" [strokeColor]="getTravelMode(cities[i+1].transportation)=='PLANE'?'#47a0fc':'#505050'" [strokeWeight]="5" [strokeOpacity]="0.9">
         <agm-polyline-point
                             [latitude]="+city.places[city.places.length - 1].lat"
                             [longitude]="+city.places[city.places.length - 1].lng">
         </agm-polyline-point>
         <agm-polyline-point
                             [latitude]="+cities[i+1].places[0].lat"
                             [longitude]="+cities[i+1].places[0].lng">
         </agm-polyline-point>
       </agm-polyline>

      <!--START AGM DIRECTIONS FROM FIRST CITY LAST PLACE TO @ CITY FIRST PLACE -->
      <agm-direction *ngIf="cities[i+1] && cities[i+1].places.length && isModeAllowed(cities[i+1].transportation)" [travelMode]="getTravelMode(cities[i+1].transportation)" [renderOptions]="directionOptions"
                     [origin]="{lat: +city.places[city.places.length - 1].lat,lng: +city.places[city.places.length - 1].lng}"
                     [destination]="{lat: +cities[i+1].places[0].lat,lng: +cities[i+1].places[0].lng}"
                      (onChange)="dirChange($event)"
                     [visible]="isModeAllowed(cities[i+1].transportation)">
      </agm-direction>

      <!--END AGM DIRECTIONS FROM FIRST CITY LAST PLACE TO @ CITY FIRST PLACE -->
      </template>




    <!--START AGM DIRECTIONS BETWEEN PLACES INSIDE CITY -->
    <template   *ngFor="let place of city.places; let j = index" >
      <agm-marker  [latitude]="+place.lat" [longitude]="+place.lng"></agm-marker>
      <agm-direction *ngIf="city.places[j+1]" [origin]="{lat: +place.lat, lng: +place.lng}"  [travelMode]="'DRIVING'" [destination]="{lat:+city.places[j+1].lat, lng: +city.places[j+1].lng}" [renderOptions]="directionOptions"></agm-direction>
    </template>
    <!--END AGM DIRECTIONS BETWEEN PLACES INSIDE CITY -->
  </template>
</agm-map>
