<header class="main-header">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button (click)="isMenuOpen=!isMenuOpen" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="trav-bars"></i>
      </button>
      <a class="navbar-brand" href="#">
        <img src="./assets/image/main-circle-logo.png" alt="">
      </a>

      <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" id="navbarSupportedContent">
        <div class="header-search-block">
          <div class="head-search-inner">
            <div class="search-block">
              <a class="search-btn" href="#"><i class="trav-search-icon"></i></a>
              <input type="text" class="" id="messageSearchInput" placeholder="Search...">
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light-primary" [routerLink]="['/trip/new']">Plan trip</a>
          </li>
          <li class="nav-item">
            <a class="profile-link" href="#">
              <img src="http://placehold.it/36x36" alt="">
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
