<div class="lg-outer main-gallery-block  lg-slide lg-grab lg-show-after-load lg-pull-caption-up lg-has-thumb lg-visible lg-thumb-open"
      [ngClass]="{'lg-dropdown-active': isActiveSocialShare}">
  <div class="lg" style="width:100%; height:100%">
    <div class="lg-inner">
      <div class="lg-item lg-current lg-complete" style="display: block!important">
        <div class="lg-img-wrap">
          <a href="{{'https://s3.amazonaws.com/travooo-images2/' + medias[currentIndex].url}}" target="_blank">
            <img class="lg-object lg-image"
                 src="{{'https://s3.amazonaws.com/travooo-images2/th700/' + medias[currentIndex].url}}"
                 src-fallback="{{'https://s3.amazonaws.com/travooo-images2/' + medias[currentIndex].url}}" alt="photo">
          </a>
        </div>
        <div class="cover-block" style="width: 1140px;">
          <div class="cover-block-inner comment-block" style="width: 1140px;">
            <ul class="modal-outside-link-list white-bg">
              <li class="outside-link">
                <a (click)="closeModal()">
                  <div class="round-icon">
                    <i class="trav-angle-left"></i>
                  </div>
                  <span>Back</span>
                </a>
              </li>
              <li class="outside-link">
                <a (click)="reportMedia()">
                  <div class="round-icon">
                    <i class="trav-flag-icon"></i>
                  </div>
                  <span>Report</span>
                </a>
              </li>
            </ul>
            <div class="gallery-comment-wrap">
              <div class="gallery-comment-inner mCustomScrollbar _mCS_4">
                <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;"
                     tabindex="0">
                  <div id="mCSB_4_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;"
                       dir="ltr">
                    <div class="top-gallery-content gallery-comment-top">
                      <div class="top-info-layer">
                        <div class="top-avatar-wrap">
                          <img src="http://placehold.it/50x50" *ngIf="!medias[currentIndex].users || !medias[currentIndex].users.length" alt="" class="mCS_img_loaded">
                          <img src="{{'https://s3.amazonaws.com/travooo-images2/users/profile/' + medias[currentIndex].users[0].id + '/' + medias[currentIndex].users[0].profile_picture }}" *ngIf="medias[currentIndex].users && medias[currentIndex].users.length" alt="" class="mCS_img_loaded">
                        </div>
                        <div class="top-info-txt">
                          <div class="preview-txt">
                            <a class="dest-name" *ngIf="!medias[currentIndex].users || !medias[currentIndex].users.length">Hardcoded on front</a>
                            <a class="dest-name" *ngIf="medias[currentIndex].users && medias[currentIndex].users.length">{{medias[currentIndex].users[0].name}}</a>
                            <p class="dest-place" *ngIf="medias[currentIndex].uploaded_at">uploaded a <b>photo</b> <span class="date">{{ medias[currentIndex].uploaded_at | timeAgo}}</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="gallery-comment-txt">
                        <p>This is an amazing street to walk around and do some shopping</p>
                      </div>
                      <div class="gal-com-footer-info" *ngIf="medias[currentIndex].reactions">
                        <div class="post-foot-block post-reaction" (click)="likeMedia()">
                          <i class="trav-heart-fill-icon"></i>
                          <span><b>{{medias[currentIndex].reactions.likes.length}}</b></span>
                        </div>
                        <div class="post-foot-block post-comment-place">
                          <i class="trav-location"></i>
                          <span class="place-name">510 LaGuardia Pl, Paris, France</span>
                        </div>
                      </div>
                    </div>
                    <div class="post-comment-layer" *ngIf="medias[currentIndex].reactions">
                      <div class="post-comment-top-info">
                        <div class="comm-count-info">
                          {{medias[currentIndex].reactions.comments.length}} Comments
                        </div>
                        <div class="comm-count-info">
                          <!--3 / 20-->
                        </div>
                      </div>
                      <div class="post-comment-wrapper" *ngIf="medias[currentIndex].reactions">
                        <div class="post-comment-row" *ngFor="let comment of medias[currentIndex].reactions.comments">
                          <div class="post-com-avatar-wrap">
                            <img src="http://placehold.it/45x45" *ngIf="!comment.user || !comment.user.profile_picture" >
                            <img src="{{'https://s3.amazonaws.com/travooo-images2/users/profile/' + comment.users_id + '/' + comment.user.profile_picture }}" *ngIf="comment.user && comment.user.profile_picture">
                          </div>
                          <div class="post-comment-text">
                            <div class="post-com-name-layer">
                              <a  class="comment-name">{{comment.user.name}}</a>
                              <a  class="comment-nickname">@{{comment.user.username}}</a>
                            </div>
                            <div class="comment-txt">
                              <p><b>{{comment.reply_to.id ? comment.reply_to.user.name + ", " : ''}}</b>{{comment.comment}}</p>
                            </div>
                            <div class="comment-bottom-info">
                               <div class="com-reaction pull-left" (click)="likeComment(comment)">
                                 <img src="./assets/image/icon-like.png" alt="" class="mCS_img_loaded">
                                 <span>{{comment.likes.length}}</span>
                               </div>
                              <div class="com-time pull-left" >{{comment.created_at | timeAgo}}</div>
                              <div class="com-time reply-to pull-right" (click)="setReplyTo(comment.id, comment.user.name)">reply</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="mCSB_4_scrollbar_vertical"
                       class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                       style="display: block;">
                    <div class="mCSB_draggerContainer">
                      <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                           style="position: absolute; min-height: 30px; top: 0px; display: block; height: 445px; max-height: 540px;">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                      </div>
                      <div class="mCSB_draggerRail"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-add-comment-block">
                <div class="avatar-wrap">
                  <img src="http://placehold.it/45x45" alt="">
                </div>
                <div class="post-add-com-input">
                  <input type="text" #comment (keyup.enter)="sendComment()" [(ngModel)]="currentComment"
                         placeholder="Write a commenttt">
                </div>
                <div class="pull-right reply" *ngIf="replayTo.id">Reply to:
                  <b>{{replayTo.name}}</b>
                  <span (click)="setReplyTo(0,'')">+</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg-toolbar lg-group">
      <span class="lg-icon lg-close" (click)="closeModal()"></span>
      <span id="lg-share" class="lg-icon" (click)="isActiveSocialShare = !isActiveSocialShare"></span>
      <ul class="lg-dropdown" style="position: absolute;">
        <li>
          <a id="lg-share-facebook"  class="text-left" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{pageUrlEncoded}}">
            <span class="lg-icon"></span>
            <span class="lg-dropdown-text">Facebook</span>
          </a>
        </li>
        <li>
          <a id="lg-share-twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{pageUrl}}">
            <span class="lg-icon"></span><span class="lg-dropdown-text">Twitter</span>
          </a>
        </li>
        <li>
          <a id="lg-share-googleplus" target="_blank" href="https://plus.google.com/share?url={{pageUrl}}">
            <span class="lg-icon"></span>
            <span class="lg-dropdown-text">GooglePlus</span>
          </a>
        </li>
        <li>
          <a id="lg-share-pinterest" target="_blank" href="http://www.pinterest.com/pin/create/button/?url={{pageUrl}}">
            <span class="lg-icon"></span>
            <span class="lg-dropdown-text">Pinterest</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="lg-actions">
      <button (click)="prevSlide()" *ngIf="currentIndex > 0" class="lg-prev lg-icon"><i class="trav-angle-left"></i>
      </button>
      <button (click)="nextSlide()" *ngIf="currentIndex < medias.length - 1" class="lg-next lg-icon">
        <i class="trav-angle-right"></i></button>
    </div>

    <div class="lg-thumb-outer lg-grab" style="height: 180px;">
      <div class="lg-thumb lg-group">

        <div class="lg-actions bottom-slider-btn">
          <button (click)="prevPartOfSlide()" [ngStyle]="{'visibility': startPoint > 0 ? 'visible' : 'hidden' }"  class="lg-prev lg-icon">
            <i class="trav-angle-left"></i>
          </button>
        </div>

        <div class="lg-thumb-item" *ngFor="let media of medias | slice:startPoint:endPoint; let i = index"
             [ngClass]="{'active' : currentIndex === i}"
             (click)="selectMedia(i, startPoint)">
          <img src="{{'https://s3.amazonaws.com/travooo-images2/th180/' + media.url}}"
               src-fallback="{{'https://s3.amazonaws.com/travooo-images2/' + media.url}}" alt="photo">
        </div>

        <div class="lg-actions bottom-slider-btn">
          <button (click)="nextPartOfSlide()" [ngStyle]="{'visibility': (endPoint < medias.length - 1) ? 'visible' : 'hidden' }" class="lg-next lg-icon">
            <i class="trav-angle-right"></i></button>
        </div>

      </div>
    </div>
  </div>
</div>



