<!-- add place popup -->
<div class="modal-wrapper">
  <button class="modal-close" type="button" mat-button  [mat-dialog-close]="true" routerLink="trip">
    <i class="trav-close-icon"></i>
  </button>
  <div class="modal-dialog modal-custom-style modal-650" role="document">
    <div class="modal-custom-block">
      <div class="post-block post-modal-add-place">
        <h3 class="place-title">What is your next destination in <b>Nagoya</b></h3>
        <div class="search-block-wrap">
          <div class="search-block-inner">
            <div class="search-block" [formGroup]="form">
              <input type="text" class="" placeholder="Search..." id="placeSearchInput" formControlName="place">
            </div>
          </div>
        </div>
        <div class="suggestion-wrapper">
          <p class="sugg-ttl">Suggestions</p>
          <div class="sugg-inner">
            <div class="suggestion-block" *ngFor="let place of places">
              <div class="img-wrap">
                <img src="http://placehold.it/60x60" alt="image">
              </div>
              <div class="sugg-content">
                <div class="sugg-place">{{place.name}}</div>
                <div class="sugg-place-info">Monument</div>
                <div class="com-star-block">
                  <ul class="com-star-list">
                    <li><i class="trav-star-icon"></i></li>
                    <li><i class="trav-star-icon"></i></li>
                    <li><i class="trav-star-icon"></i></li>
                    <li><i class="trav-star-icon"></i></li>
                    <li><i class="trav-star-icon"></i></li>
                  </ul>
                  <span class="count">
                      <b>4.8</b>
                    </span>
                  <span>from 26 Reviews</span>
                </div>
              </div>
              <div class="sugg-btn-wrap">
                <button type="button" (click)="onAddClick(place.id)" [routerLink]="['trip', trip_id, 'show']" class="btn btn-light-primary btn-bordered"><span>+</span> Add</button>
              </div>
            </div>
          </div>
          <div class="error-layer" *ngIf="(error$ | async)">
            <p class="sub-ttl error-message">{{error$ | async}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
