/* You can add global styles to this file, and also import other style files */
.custom-overlay-pane-class .mat-dialog-container{
  padding: 0;
  box-shadow: none;
}
.custom-overlay-pane-class .sign-up-style{
  margin: 125px auto 30px;
}
.custom-overlay-pane-class{
  background-color: rgba(0,0,0,0.75);
  margin-top: -100vh;
  min-height: 100vh;
  overflow: hidden;
}
.sign-up-style .modal-content .close.mat-button{
  min-width: auto;
  line-height: inherit;
}

.sign-up-style .modal-content .close.mat-button .mat-button-focus-overlay{
  background-color: transparent;
}
