<div class="modal-dialog sign-up-style" >
  <div class="modal-content">
    <button type="button" class="close"  mat-button  [mat-dialog-close]="true" routerLink="/">
      <span >&times;</span>
    </button>
    <div class="modal-body body-create">
      <div class="top-layer">
        <a href="#" class="logo-wrap">
          <img src="./assets/image/main-logo.png" alt="">
        </a>
        <h4 class="title">Create a free account</h4>
       <!-- TODO MOVE FORMS ERROR BLOCK TO COMPONENT-->
        <p *ngIf="formErrors.username" class="sub-ttl error-message">{{ formErrors.username }}</p>
        <p *ngIf="formErrors.email" class="sub-ttl error-message">{{ formErrors.email }}</p>
        <p *ngIf="formErrors.password" class="sub-ttl error-message">{{ formErrors.password }}</p>
        <p *ngIf="formErrors.password_confirmation" class="sub-ttl error-message">{{ formErrors.password_confirmation }}</p>
        <div *ngIf="(authError$ | async)">
          <p  *ngFor="let err of  (authError$ | async).data" class="sub-ttl error-message">{{ err }}</p>
        </div>
      </div>

      <form class="login-form" [formGroup]="userForm" (ngSubmit)="userForm.valid && register()" >
        <div class="step-1">
          <div class="form-group" [ngClass]="{ 'has-danger': formErrors.username }">
            <input type="text" id="username" class="form-control" formControlName="username"  placeholder="Username" /></div>

          <div class="form-group" [ngClass]="{ 'has-danger': formErrors.email }">
            <input id="email" type="text" class="form-control" formControlName="email" placeholder="Email"  />
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': formErrors.password }">
            <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password" />
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': formErrors.password_confirmation }">
            <input id="password_confirmation" type="password" class="form-control" formControlName="password_confirmation" placeholder="Password confirmation" />
          </div>
          <div class="form-margin"></div>
          <div class="form-group">
            <button type="submit" (click)="validation.onValueChange(userForm, formErrors, true)" class="btn btn-success">Continue</button>
          </div>
          <div class="form-group">
            <p class="simple-txt">Or</p>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-facebook side-icon"></i>
              Continue with Facebook</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info">
              <i class="fa fa-twitter side-icon"></i>
              Continue with Twitter</button>
          </div>
        </div>
        <div class="form-group bottom-txt-group">
          <p class="bottom-txt">Creating an account means you're okay with</p>
          <ul class="link-list">
            <li><b>Travooo's</b></li>
            <li>
              <a href="#"> Terms of Service,</a>
            </li>
            <li>
              <a href="#"> Privacy Policy</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p class="foot-txt">Already a member?</p>
      <button type="button" routerLink="login" class="btn btn-grey">Log In</button>
    </div>
  </div>
</div>
