:host {

  .weather-carousel-control {
    a:hover {
      cursor: pointer;
    }
  }

  #weatherHourCarousel{
    overflow-x: hidden;
    .move-block {
      display: flex;
      position: relative;
      left: 0;
      transition: all 0.5s;
    }
  }
}
